/* 

      CSS Guide

      1. General Styles
      2. Grid
      3. Header
      4. Main Hero
      5. About
      6. Product-con
      7. Ad img
      8. Footer

      9. Our Story page

*/



.hidden {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* 2. ---Grid--- */

.grid-con {
	display: grid;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 60px);
	grid-column-gap: 60px;
}

.wrapper {
    margin: 0 auto;
}

.wrapper {
    gap: 20px;
    padding: 124px;
    padding-top: 30px;
    background-image: url(../images/bg.png);
}

header {
    display:grid;
    grid-column: 1/-1; 
    background-color: #ffffff;
    border-radius: 400px;
    height: 100px;
}

nav {
    grid-column: 4/-1;
    margin: 0;
    padding: 10px;
    background-color: rgb(222, 72, 72);
}

.main-logo {
    display: grid;
    grid-column: 1/1;
}

.main-nav {
    grid-column: 2/11;
    display: inline-block;
    padding-right: 300px;
}